{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/firstpage.css' %}">
  <title>My Website</title>
</head>
<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand" >
          <a href="#hero" id = "main"><img src = "{% static 'css/lasso4.png' %}" class= "logo"></a>
          <a href="#hero"><h1><span>C</span>are for <span>A</span>LL</h1></a>
        </div>
        <div class="nav-list">
          <div class="hamburger"><div class="bar"></div></div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="#services" data-after="Service">Services</a></li>
            <li><a href="#projects" data-after="Projects">Projects</a></li>
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Happy <span></span></h1>
        <h1>New Year, <span></span></h1>
        <h1>2021<span></span></h1>
        <p>All Human Beings Are Superior Than Me Because I Believe Each One Of Them Is Good At Something Which I Am Not.To Get The Things That You Don't Have Now Is Only Possible Only You Become Someone You Are Not Today<span></span></p>

      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <!-- Service Section -->
  <section id="services">
    <div class="services container">
      <div class="service-top">
        <h1 class="section-title">Serv<span>i</span>ces</h1>
        <p>We don't want to push our ideas on to readers, we simply want to make what they want.</p>
      </div>
      <div class="service-bottom">
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png"/></div>
          <h2>Trusted Knowledge</h2>
          <p>We provide you the valid and trusted data. We dont provide fake data</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png"/></div>
          <h2>Safe Website</h2>
          <p>You are in safe environment, we use all type of hashing and layers to protect our websites.</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png"/></div>
          <h2>3 Best Topics</h2>
          <p>We give you the 3 best topics. You can visit anyone of them. They are all hot topics.</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png"/></div>
          <h2>Contact Us Anytime</h2>
          <p>Contact us for any queries related to these topic. We are excited to solve your queries.  </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Section -->

  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">TOPICS <span>To COVER</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <a href="{% url 'datasecurity' %}" style="color: #8ebf42"><h1>Data Security</h1></a>
            <h2>Data Is The Modern Fuel</h2>
            <p>Digital technology is changing the way in which society is operating and the ways we live our lives. Every day, there is new ways to work and to play, new methods of interacting with one another. As our digital footprint grows exponentially, we are forming our own online identities.</p>
          </div>
          <div class="project-img">
            <img src="{% static 'css/ds.jpg' %}" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <a href="{% url 'fitness' %}" style="color: #8ebf42"><h1>Health and Fitness</h1></a>
            <h2>The Science Behind A Good Workout</h2>
            <p>We’ve all been there before: a tough day at work or in school. We’re exhausted, both mentally and physically, but we still manage to push ourselves and get to the gym. Why do we do it? Because we know how much better we’ll feel after an evening indoor cycling class, an hour of football or a challenging weight workout. We leave feeling refreshed, rejuvenated and invigorated—truly transformed. Clearly, there’s a relationship between exercise and the brain, but what is it?</p>
          </div>
          <div class="project-img">
            <img src="{% static 'css/fit-3.jpg' %}" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <a href="{% url 'personality' %}" style="color: #8ebf42"><h1>Personality Development</h1></a>
            <h2>THE IMPORTANCE OF GOAL SETTING </h2>
            <p>We know the importance of goal setting, but most times our goals are not measurable and clearly defined. You hear people say things like “I want to lose weight”, though losing weight is a goal it can be clearly defined if you add things like: “I want to lose weight, by eating healthy and exercising. When you compare both statements, the first one only states what you intend to do, the second one states what you intend to do and how you intend to do it. </p>
          </div>
          <div class="project-img">
            <img src="{% static 'css/tt.jpg' %}" alt="img">
          </div>
        </div>
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="{% static 'css/hit.jpeg' %}" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">Mr.<span>Hitesh Kumar</span></h1>
        <h2>Designer and Editor</h2>
        <p>Qualification: Pursuing PGDM from Indus Business Academy, Banglore</p>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="{% static 'css/ash-2.jpeg' %}" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">Mr.<span>Ashwini Kumar</span></h1>
        <h2>Content Writer</h2>
        <p>Qualification: Pursuing B.Tech From MVIT, Banglore</p>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="{% static 'css/asu.jpeg' %}" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">Mr.<span>Asutosh</span></h1>
        <h2>Content Writer</h2>
        <p>Qualification: Pursuing B.A From Hislop College, Nagpur</p>
      </div>
    </div>
    <section id="about">
      <div class="about container">
        <div class="col-left">
          <div class="about-img">
            <img src="{% static 'css/hri.jpeg' %}" alt="img">
          </div>
        </div>
        <div class="col-right">
          <h1 class="section-title">Mr.<span>Hrithik Singh</span></h1>
          <h2>Web Developer</h2>
          <p>Qualification: _</p>
        </div>
      </div>
      <section id="about">
        <div class="about container">
          <div class="col-left">
            <div class="about-img">
              <img src="{% static 'css/nam.jpg' %}" alt="img">
            </div>
          </div>
          <div class="col-right">
            <h1 class="section-title">Mr.<span>Naman Rohilla</span></h1>
            <h2>Web Developer</h2>
            <p>Qualification: Pursuing Integrated Course in M.Sc Mathematics from SVNIT, Surat</p>
          </div>
        </div>

  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div><h1 class="section-title">Contact <span>info</span></h1></div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png"/></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>careall249@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png"/></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>MVIT, Banglore</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand"><h1><span>C</span>are For <span>A</span>ll</h1></div>
      <h2>Your Complete Web Solution</h2>
      <div class="social-icon">

        <div class="social-item">
          <a href="https://www.instagram.com/_care4all_/?igshid=r0bnwlhb8cbm"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png"/></a>
        </div>
        <div class="social-item">
          <a href="https://twitter.com/CareForAll249?s=08"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png"/></a>
        </div>
        <div class="social-item">
          <a href="https://www.facebook.com/Care-For-All-101858671850233/"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png"/></a>
        </div>

      </div>
      <p>Copyright © 2020 Arfan. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="{% static 'css/firstpage.js' %}"></script>
</body>
</html>
