
<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>

	<link  href="{% static 'css/firstpage.css' %}" rel="stylesheet">
		 <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7CPT+Serif:400,700,400italic' rel='stylesheet'>
		  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
</head>
<body>

	<div class="bgimage">

		<div class="menu">
           <nav>
			<div class="leftmenu">
				<h4> CARE FOR ALL </h4>
			</div>

			<div class="rightmenu">
				<ul>
					<li id="fisrtlist"> HOME </li>
					<li> Services </li>
					<li> Works</li>
					<li> About us</li>
					<li>  Blogs </li>
					<li>contact</li>
				</ul>
			</div>

          </nav>
		</div>

		<div class="text">
			<h4> ASK AND GET YOUR ANSWER </h4>
			<h1> CREATIVE & KNOWLAGABLE </h1>
			<h3> WE ARE THE ONE WHO CAN PROVIDE THE BEST </h3>
			<button id="buttonone"> Like and share </button>
			<button id="buttontwo"> Learn More </button>
		</div>

	</div>
	


</body>
</html>
